/*
==========================
Estilização global
==========================
*/

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: #f7f7f7;

 display: grid;
 justify-items: center;
 gap: 60px;
}

p {
 font-size: 20px;
}

li {
 list-style: none;
}

a {
 text-decoration: none;
}

img {
 max-width: 100%;
}

/*
==========================
Estilização do Header
==========================
*/

header {
 display: flex;
 flex-direction: column;
 gap: 60px;
 padding: 40px 0;
 align-items: center;
}

.logo {
 display: flex;
 justify-content: center; 
 width: 350px;
}

.menu {
 display: flex;
 gap: 8px;
}

.menu a {
 background-color: white;
 color: black;
 padding: 15px 20px;
 border-radius: 4px;
 transition: 0.3s ease;
}

.menu a:hover {
 background-color: #ee2211;
 color: white;
 transform: scale(1.5);
}

/*
==========================
Estilização do Conteúdo
==========================
*/
.conteudo {
 display: grid;
 grid-template-columns: 1fr 1fr;
 max-width: 1024px;
}

.introducao {
 display: grid;
 padding: 40px;
 text-align: right;
 align-content: center;
 justify-items: end;
 gap: 20px;
 background-color: white;
}

.subtitulo {
 font-size: 64px;
 text-transform: uppercase;
 padding: 40px;
 color: rgba(0, 0, 0, 0.2);
 text-align: end;
 align-self: center;
}

.botao {
 background-color: #ee2211;
 color: white;
 padding: 15px 30px;
 border-radius: 4px;
 text-transform: uppercase;
}

.rodape {
 background-color: white;
 padding: 40px;
 text-align: center;
 width: 100%; /* Faz xom que o elemento atual fique 100% do tamanho do elemento pai (Você não está utilizando display)*/
}